/*.content {
  padding-left: 150px;
  padding-right: 150px;
}*/
.context {
  float:right;
  width: 15px;
}
.authors {
  padding: 5px;
}
a{
  text-decoration: none;
}
.title {
  font-size: 18px;
}
.url {
  display: block;
}
.type {
  font-size: 25px;
}
.hidden {
  display:none;
}

.contextMenu {
  float: right;
}

.contextMenuItems {
  position: fixed;
  padding: 5px;
  background-color: #A0AEC0;
}
.contextMenuItems > *{
  background-color: #CBD5E0;
  font-weight: 500;
  z-index: 1;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}
.contextMenuItems > *:hover {
    background: rgba(0, 0, 0, 0.2);
}
